# Virtual environment
venv/
env/
ENV/
streams/
.venv/
*.pt
# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
# Python cache
__pycache__/
*.py[cod]
*$py.class
car_fronts/